<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CourseConfigurationIntent</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>iconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconGray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconLightBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconLightBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconOrange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconPink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconPink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconPurple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconRed</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iconYellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconYellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
